<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>D3 Page Template</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <style>
        .axis path,
        .axis line {
            stroke: teal;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: Optima, Futura, sans-serif; font-weight: bold;
            font-size: 14px;
            fill: teal;
        }
    </style>
</head>
<body>
<script type="text/javascript">
	// Your beautiful D3 code will go here
	//Width and height
	const w = 500
	const h = 100
	const barPadding = 1
	const dataset = [ 5, 10, 13, 19, 21, 25, 22, 18, 15, 13, 11, 12, 15, 20, 18, 17, 16, 18, 23, 25 ]

	var scale = d3.scaleLinear()
                .domain([0, d3.max(dataset) + 5])
		        .range([0, 100]);

	var xScale = d3.scaleLinear()
		.domain([0, 500])
		.range([0, 500])

	let svg = d3.select("body")
                .append("svg")
                .attr("width", w)
		        .attr("height", h)

	svg.selectAll("rect")
        .data(dataset)
        .enter()
        .append("rect")
        .attr("x", (_, i) => i * (w / dataset.length))
        .attr("y", d => h - scale(d))
		.attr("width", w / dataset.length - barPadding)
        .attr("height", d => scale(d))
        .attr("fill", d => "rgb(0, 0, " + Math.round(d * 10) + ")")

	svg.selectAll("text")
        .data(dataset)
        .enter()
        .append("text")
        .text(d => d)
        .attr("x", (d, i) => i * (w / dataset.length) + (w / dataset.length - barPadding) / 2)
        .attr("y", d => h - scale(d) + 14)
        .attr("font-family", "sans-serif")
        .attr("font-size", "11px")
        .attr("fill", "white")
		.attr("text-anchor", "middle")

	const xAxis = d3.axisBottom().scale(xScale)
    svg.append("g")
        .attr("class", "axis")
		.attr("transform", "translate(0," + (h - 25) + ")")
	    .call(xAxis)
</script>
</body>
</html>
