<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band Bars</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <style>
        .axis path,
        .axis line {
            stroke: teal;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: Optima, Futura, sans-serif; font-weight: bold;
            font-size: 14px;
            fill: teal;
        }

        .line {
            fill: none;
            stroke: teal;
            stroke-width: 0.5;
        }
    </style>
</head>
<body>
<script type="text/javascript">
	const w = 300
	const h = 300

	// const dataset=[ 5,10,20,45,6,25];
	const dataset=[ [1, 5],[2,10],[3, 20],[4,45],[5,6],[7,25]];

	const svg =
		d3.select("body")
			.append("svg")
			.attr("width", w)
			.attr("height", h)

    const pie = d3.pie().value(d => d[1])

	const outerRadius = w / 2;
	const innerRadius = 0;
    const arc =
        d3.arc()
        .innerRadius(innerRadius)
		.outerRadius(outerRadius)

	const arcs = svg.selectAll("g.arc")
        .data(pie(dataset))
        .enter()
        .append("g")
        .attr("class", "arc")
        .attr("transform", "translate(" + outerRadius + ", " + outerRadius + ")")

	const color = d3.scaleOrdinal(d3.schemeCategory10);
	arcs.append("path")
		.attr("fill", (d,i) => color(i))
		.attr("d", arc)

    arcs.append("text")
        .attr("transform", d => "translate(" + arc.centroid(d) + ")")
        .attr("text-anchor", "middle")
        .text(d => d.data[0])
</script>
</body>
</html>
