    #  Operation Null Start
    kwargs["operation_null_default"] = #operation_null_default#
    default = kwargs.get("operation_null_default")  # string "default value"
    if default is None:
        data_frame = data_frame.dropna(how="any")
    else:
        data_frame = data_frame.fillna(default)
    #  Operation Null Start
data_frame

